<div>
    <h1>Artists</h1>
    @if (artists.length === 0) {
    <div>
        <h3>No artists</h3>
    </div>
    }
    <mat-nav-list>
        @for (artist of artists; track artist._id) {
            <mat-list-item mat-list-item class="list-item" (click)="selectArtist(artist)">
                <span matListItemTitle class="list-item-name">{{artist.name}}</span>
            </mat-list-item>
            <div [hidden]="selectedArtist != artist ? true : null">
                <app-album-list [artist]="selectedArtist!"></app-album-list>
            </div>
        }
    </mat-nav-list>
</div>