<div>
    <h1>Artists</h1>
    @if (artists.length === 0) {
    <div>
        <h3>No artists</h3>
    </div>
    }
    <mat-nav-list>
        @for (artist of artists; track artist._id) {
        <div (click)="selectArtist(artist._id)">
            <a mat-list-item class="list-item">
                <span matListItemTitle [ngClass]="'list-item-name'">{{artist.name}}</span>
            </a>
            <div [hidden]="selectedArtistId != artist._id ? true : null">
                <h2>Albums</h2>
                <ul>
                    @for (album of artist.albums; track album._id) {
                    <li>
                        <strong>{{ album.title }}</strong>
                        <ul>
                            @for (song of album.songs; track song._id) {
                            <li>
                                {{ song.title }} ({{ song.length }})
                            </li>
                            }
                        </ul>
                    </li>
                    }
                </ul>
            </div>
        </div>
        }
    </mat-nav-list>
</div>