
.list-item {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    margin: 8px;
    padding: 8px;
    margin-left: 30px;
    width: auto;
    height: auto !important;
}

.list-item-name {
    font-size: 16px;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    width: 100%;
}

.item-name {
    padding-top: 6px;
}

.list-item-description {
    white-space: normal;
}

.deletebtn {
    margin-left: auto;
}