<div>
    <h1>Digital music library</h1>

    <div>
        <app-artist-create></app-artist-create>
        <input [formControl]="searchControl" placeholder="Search for artists, albums or songs">
    </div>

    @if (artists.length === 0) {
    <div>
        <h3>No artists</h3>
    </div>
    }
    <mat-nav-list>
        @for (artist of artists; track artist._id) {
        <mat-list-item mat-list-item class="list-item" (click)="selectArtist(artist)">
            <span matListItemTitle class="list-item-name">
                <div class="item-name">
                    {{artist.name}}
                </div>
                <button mat-raised-button color="warn" class="deletebtn"
                    (click)="deleteArtist(artist._id)">Delete</button>
            </span>
        </mat-list-item>

        <div [hidden]="selectedArtist != artist ? true : null">
            <app-album-create [artist]="selectedArtist!"></app-album-create>
            <app-artist-update [artistId]="artist!._id"></app-artist-update>
            <app-album-list [artist]="selectedArtist!"></app-album-list>
        </div>
        }
    </mat-nav-list>
</div>