<form [formGroup]="songForm" (ngSubmit)="onSubmit()">
    <div>
        <h3>Add a new song</h3>
        <label for="title">Title: </label>
        <input id="title" formControlName="title">
        <label for="length">Length: </label>
        <input id="length" formControlName="length">
        @if (songForm.get('title')!.invalid && (songForm.get('title')!.dirty || songForm.get('title')!.touched)){
            <p>
                Title is required.
            </p>
        }
        @if (songForm.get('length')!.invalid && (songForm.get('length')!.dirty || songForm.get('length')!.touched)){
            <p>
                Length is required.
            </p>
        }
        <button type="submit" [disabled]="songForm.invalid">Create</button>
      </div>
</form>