
.list-item {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    margin: 8px;
    padding: 8px;
    margin-left: 10px;
    width: auto;
    height: auto !important;
}

.list-item-name {
    font-size: 16px;
    margin: 0;
    width: 100%;
}

.item-name {
    padding-top: 8px;
}

.toggle-album-create {
    margin-left: 10px;
    margin-bottom: 10px;
}

.list-item-description {
    white-space: normal;
}

.toggle {
    margin-left: 50px;
    margin-bottom: 10px;
}
.operation-grp {
    display: flex;
    justify-content: flex-end;
}
.deletebtn {
    margin-right: 10px;
    margin-left: auto;
}

input {
    border: solid 2px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 10px;
    display: block;
    width: 30%;
}
.list-empty {
    margin-left: 10px;
}