<mat-nav-list>
    @for (song of songs; track song._id) {
    <a mat-list-item class="list-item">
        <span matListItemTitle class="list-item-name">
            <div name="item-name">
                {{song.title}}  {{song.length}}
            </div>
            <button mat-raised-button color="warn" class="deletebtn" (click)="deleteSong(song._id)">Delete</button>
        </span>
    </a>
    <app-song-update [songId]="song._id" [albumId]="album?._id!" [artistId]="artistId"></app-song-update>
    }
</mat-nav-list>